.mainArea{
/*     display: grid;
    grid-template-columns: repeat(4, 23%);
    aspect-ratio: 1/1;
    gap: 2%;  */
    display: flex;
    flex-wrap:wrap;


}
.gridDivs {
    aspect-ratio: 1/1;
    background-color: lightgrey; 

} 

.changeColor {
    background-color: gray;
}



section {
    text-align: center;
    margin-bottom: 2%;
}

.button {
    border-radius: 10px;
    background-color: rgb(20, 129, 245);
    color:aliceblue;
    padding: 10px;
    border: 2px solid white;
}

.button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
 
}